<!-- valine -->
<script type="text/javascript">
  var option = {
    el: '#vcomments',
    appId: '{{ .Site.Params.valine.appId }}',
    appKey: '{{ .Site.Params.valine.appKey }}',
    notify: '{{ .Site.Params.valine.notify }}',
    verify: '{{ .Site.Params.valine.verify }}',
    avatar: '{{ .Site.Params.valine.avatar }}',
    placeholder: '{{ .Site.Params.valine.placeholder }}',
    visitor: '{{ .Site.Params.valine.visitor }}',
    meta: {{ .Site.Params.valine.meta }},
    requiredFields: {{ .Site.Params.valine.requiredFields }},
  };
  valine.init(option)
  if (!$('#vcomments').is(":empty")) {
    document.getElementsByClassName('vpower txt-right')[0].remove();
    let $comments = document.getElementById('vcomments');
    let $vpanel = document.getElementsByClassName('vpanel')[0];
    let $vcards = document.getElementsByClassName('vcards')[0];
    let $vcount = document.getElementsByClassName('vcount')[0];
    $comments.insertBefore($vcards, $vpanel);
    $comments.insertBefore($vcount, $vcards);
    document.getElementsByClassName('leancloud-visitors-count')[0].style.fontStyle = 'normal'
  }
</script>
